@import "tailwindcss";


html {
  width: 100%;
  overflow-x: hidden;

}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0a0a0a;
  color: #f0f0f0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

#root {
  min-height: 100vh;
  width: 100%;
  position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background: #ff4d00;
  color: #fff;
}
